In [4]:
# importing numpy, pandas, matplotlib and seaborn

import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
%matplotlib inline

In [9]:
# importing data
alpha_08_df = pd.read_csv("all-alpha-08.csv")
alpha_18_df = pd.read_csv("all-alpha-18.csv")

In [11]:
#número de amostras em cada conjunto - 08
alpha_08_df.shape

(2404, 18)

In [14]:
#linhas duplicadas 08
sum(alpha_08_df.duplicated())

25

In [17]:
#linhas sem dados
alpha_08_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2404 entries, 0 to 2403
Data columns (total 18 columns):
Model                   2404 non-null object
Displ                   2404 non-null float64
Cyl                     2205 non-null object
Trans                   2205 non-null object
Drive                   2311 non-null object
Fuel                    2404 non-null object
Sales Area              2404 non-null object
Stnd                    2404 non-null object
Underhood ID            2404 non-null object
Veh Class               2404 non-null object
Air Pollution Score     2404 non-null object
FE Calc Appr            2205 non-null object
City MPG                2205 non-null object
Hwy MPG                 2205 non-null object
Cmb MPG                 2205 non-null object
Unadj Cmb MPG           2205 non-null float64
Greenhouse Gas Score    2205 non-null object
SmartWay                2404 non-null object
dtypes: float64(2), object(16)
memory usage: 338.1+ KB

In [18]:
#número de amostras em cada conjunto - 18
alpha_18_df.shape

(1611, 18)

In [19]:
#linhas duplicadas 18
sum(alpha_18_df.duplicated())

0

In [20]:
#linhas sem dados
alpha_18_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1611 entries, 0 to 1610
Data columns (total 18 columns):
Model                   1611 non-null object
Displ                   1609 non-null float64
Cyl                     1609 non-null float64
Trans                   1611 non-null object
Drive                   1611 non-null object
Fuel                    1611 non-null object
Cert Region             1611 non-null object
Stnd                    1611 non-null object
Stnd Description        1611 non-null object
Underhood ID            1611 non-null object
Veh Class               1611 non-null object
Air Pollution Score     1611 non-null int64
City MPG                1611 non-null object
Hwy MPG                 1611 non-null object
Cmb MPG                 1611 non-null object
Greenhouse Gas Score    1611 non-null int64
SmartWay                1611 non-null object
Comb CO2                1611 non-null object
dtypes: float64(2), int64(2), object(14)
memory usage: 226.6+ KB

In [21]:
#SmartWay (2008) - unique values
alpha_08_df.SmartWay.unique()

array(['no', 'yes'], dtype=object)

In [22]:
#SmartWay (2018) - unique values
alpha_18_df.SmartWay.unique()

array(['No', 'Yes', 'Elite'], dtype=object)

In [26]:
#Sales Area (2008) - unique values
alpha_08_df['Sales Area'].unique()

array(['CA', 'FA', 'FC'], dtype=object)

In [27]:
#Cert Region(2018) - unique values
alpha_18_df['Cert Region'].unique()

array(['FA', 'CA'], dtype=object)

In [28]:
#Trans(2008) - unique values
alpha_08_df['Trans'].unique()

array(['Auto-S5', 'Man-6', 'Auto-S6', 'Auto-AV', 'Auto-S7', 'Auto-L4',
       'Auto-L6', 'Auto-4', 'Man-5', 'Auto-L5', nan, 'Auto-6', 'S8',
       'Auto-S4', 'Auto-L7'], dtype=object)

In [29]:
#Trans(2008) - unique values
alpha_08_df['Cyl'].unique()

array(['(6 cyl)', '(4 cyl)', '(12 cyl)', '(8 cyl)', '(10 cyl)',
       '(16 cyl)', '(5 cyl)', nan, '(2 cyl)'], dtype=object)

In [30]:
#Trans(2018) - unique values
alpha_18_df['Cyl'].unique()

array([ 6.,  4.,  5., 12., 16.,  8., nan,  3.])

In [31]:
#Trans(2018) - unique values
alpha_18_df['Fuel'].unique()

array(['Gasoline', 'Gasoline/Electricity', 'Diesel', 'Ethanol/Gas',
       'Electricity'], dtype=object)

In [32]:
#Trans(2008) - unique values
alpha_08_df['Fuel'].unique()

array(['Gasoline', 'ethanol/gas', 'ethanol', 'diesel', 'CNG'],
      dtype=object)

In [33]:
alpha_08_df.head()

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales Area,Stnd,Underhood ID,Veh Class,Air Pollution Score,FE Calc Appr,City MPG,Hwy MPG,Cmb MPG,Unadj Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT03.7PKR,SUV,7,Drv,15,20,17,22.0527,4,no
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,B5,8HNXT03.7PKR,SUV,6,Drv,15,20,17,22.0527,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT02.3DKR,SUV,7,Drv,17,22,19,24.1745,5,no
3,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,FA,B5,8HNXT02.3DKR,SUV,6,Drv,17,22,19,24.1745,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXV03.5HKR,midsize car,7,Drv,16,24,19,24.5629,5,no

In [36]:
#remove collumns 2008 - Stnd', 'Underhood ID', 'FE Calc Appr', 'Unadj Cmb MPG'
alpha_08_df = alpha_08_df.drop(['Stnd', 'Underhood ID', 'FE Calc Appr', 'Unadj Cmb MPG'], axis=1)

In [37]:
alpha_08_df.head()

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales Area,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,SUV,6,15,20,17,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,17,22,19,5,no
3,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,FA,SUV,6,17,22,19,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,CA,midsize car,7,16,24,19,5,no

In [38]:
alpha_18_df.head()

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Stnd,Stnd Description,Underhood ID,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay,Comb CO2
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,FA,T3B125,Federal Tier 3 Bin 125,JHNXT03.5GV3,small SUV,3,20,28,23,5,No,386
1,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,CA,U2,California LEV-II ULEV,JHNXT03.5GV3,small SUV,3,20,28,23,5,No,386
2,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,FA,T3B125,Federal Tier 3 Bin 125,JHNXT03.5GV3,small SUV,3,19,27,22,4,No,402
3,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,CA,U2,California LEV-II ULEV,JHNXT03.5GV3,small SUV,3,19,27,22,4,No,402
4,ACURA TLX,2.4,4.0,AMS-8,2WD,Gasoline,CA,L3ULEV125,California LEV-III ULEV125,JHNXV02.4WH3,small car,3,23,33,27,6,No,330

In [39]:
#remove collumns 2018 - 'Stnd', 'Stnd Description', 'Underhood ID', 'Comb CO2'
alpha_18_df = alpha_18_df.drop(['Stnd', 'Underhood ID', 'Stnd Description', 'Comb CO2'], axis=1)

In [40]:
alpha_18_df.head()

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,FA,small SUV,3,20,28,23,5,No
1,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,CA,small SUV,3,20,28,23,5,No
2,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,FA,small SUV,3,19,27,22,4,No
3,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,CA,small SUV,3,19,27,22,4,No
4,ACURA TLX,2.4,4.0,AMS-8,2WD,Gasoline,CA,small car,3,23,33,27,6,No

In [44]:
#Troque o rótulo da coluna 'Sales Area' do conjunto de 2008 para 'Cert Region' para manter a consistência.
alpha_08_df.rename(columns={'Sales Area': 'Cert Region'}, inplace=True)

In [47]:
alpha_08_df.head()

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,SUV,6,15,20,17,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,17,22,19,5,no
3,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,FA,SUV,6,17,22,19,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,CA,midsize car,7,16,24,19,5,no

Renomeie todos os rótulos de coluna para substituir espaços por sublinhados e colocar tudo em letra minúscula. 
Os sublinhados são muitos mais fáceis de se trabalhar no Python do que espaços. 
Por exemplo, quando se tem espaços, não é possível usar df.column_name em vez de df['column_name'] para selecionar colunas e nem usar query(). 
Ser consistente com letras minúsculas e sublinhados também ajuda facilita na hora de lembrar o nome das colunas.

In [52]:
alpha_08_df.columns = alpha_08_df.columns.str.replace(' ','_')
alpha_08_df.rename(str.lower, axis='columns',inplace=True)

In [53]:
alpha_08_df.head()

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,SUV,6,15,20,17,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,17,22,19,5,no
3,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,FA,SUV,6,17,22,19,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,CA,midsize car,7,16,24,19,5,no

In [54]:
alpha_18_df.columns = alpha_18_df.columns.str.replace(' ','_')
alpha_18_df.rename(str.lower, axis='columns',inplace=True)

In [55]:
alpha_18_df.head()

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,FA,small SUV,3,20,28,23,5,No
1,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,CA,small SUV,3,20,28,23,5,No
2,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,FA,small SUV,3,19,27,22,4,No
3,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,CA,small SUV,3,19,27,22,4,No
4,ACURA TLX,2.4,4.0,AMS-8,2WD,Gasoline,CA,small car,3,23,33,27,6,No

In [56]:
# verifique se os rótulos das colunas dos conjuntos de dados de 2008 e 2018 são idênticos
alpha_08_df.columns == alpha_18_df.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True])

In [57]:
# certifique-se que eles são todos idênticos assim
(alpha_08_df.columns == alpha_18_df.columns).all()

True

In [58]:
# salve os novos conjuntos de dados para a próxima seção
alpha_08_df.to_csv('data_08.csv', index=False)
alpha_18_df.to_csv('data_18.csv', index=False)

# Filtrar, remover nulos e remover duplicados

## 1. Filtrar
Para manter a consistência, só compare carros certificados segundo as normas da Califórnia. Filtre os dois conjuntos usando “query” para selecionar somente linhas em que “cert_region” é “CA”. Em seguida, descarte as colunas “cert_region”, já que não vão fornecer mais nenhuma informação útil (para termos certeza de que todos os valores são “CA”).

In [72]:
alpha_08_df = alpha_08_df.query('cert_region == "CA"')

In [74]:
#removendo coluna
alpha_08_df = alpha_08_df.drop(['cert_region'], axis=1)

In [75]:
alpha_08_df.head()

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,SUV,7,15,20,17,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,SUV,7,17,22,19,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,midsize car,7,16,24,19,5,no
6,ACURA TL,3.2,(6 cyl),Auto-S5,2WD,Gasoline,midsize car,7,18,26,21,6,yes
7,ACURA TL,3.5,(6 cyl),Auto-S5,2WD,Gasoline,midsize car,7,17,26,20,6,yes

In [76]:
alpha_18_df = alpha_18_df.query('cert_region == "CA"')

In [79]:
alpha_18_df = alpha_18_df.drop(['cert_region'], axis=1)

In [80]:
alpha_18_df.head()

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
1,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,small SUV,3,20,28,23,5,No
3,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,small SUV,3,19,27,22,4,No
4,ACURA TLX,2.4,4.0,AMS-8,2WD,Gasoline,small car,3,23,33,27,6,No
6,ACURA TLX,3.5,6.0,SemiAuto-9,2WD,Gasoline,small car,3,20,32,24,5,No
8,ACURA TLX,3.5,6.0,SemiAuto-9,4WD,Gasoline,small car,3,21,30,24,5,No

## 2. Descartar nulos
Descarte todas as linhas dos dois conjuntos de dados que contêm valores ausentes.

In [82]:
alpha_18_df = alpha_18_df.dropna(how='all')

In [83]:
alpha_08_df = alpha_08_df.dropna(how='all')

## 3. Remover duplicados
Descarte todas as linhas duplicadas nos dois conjuntos.

In [84]:
alpha_08_df.drop_duplicates(inplace=True)

In [85]:
alpha_18_df.drop_duplicates(inplace=True)

In [86]:
sum(alpha_18_df.duplicated())

0

In [87]:
sum(alpha_08_df.duplicated())

0

In [88]:
# salve os novos conjuntos de dados para a próxima seção
alpha_08_df.to_csv('data_08.csv', index=False)
alpha_18_df.to_csv('data_18.csv', index=False)

### Quiz

#### 1. número de amostras no conjunto de 2008

In [89]:
alpha_08_df.shape

(1049, 13)

In [90]:
alpha_18_df.shape

(795, 13)