# Inspecionando tipos de dados
Use o espaço abaixo para explorar os arquivos `data_08.csv` e `data_18.csv` para responder às perguntas do teste abaixo sobre tipos de dados.

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df_08 = pd.read_csv("data_08.csv")
df_18 = pd.read_csv("data_18.csv")

In [3]:
df_18.shape

(986, 13)

In [4]:
df_18.shape

(794, 13)

In [5]:
df_18.cyl

0      6.0
1      6.0
2      4.0
3      6.0
4      6.0
5      6.0
6      6.0
7      4.0
8      6.0
9      4.0
10     4.0
11     4.0
12     4.0
13     4.0
14     4.0
15     4.0
16     4.0
17     4.0
18     4.0
19     4.0
20     4.0
21     4.0
22     6.0
23     6.0
24     6.0
25     4.0
26     4.0
27     4.0
28     4.0
29     6.0
      ...
764    6.0
765    4.0
766    4.0
767    4.0
768    4.0
769    4.0
770    4.0
771    4.0
772    4.0
773    4.0
774    4.0
775    4.0
776    4.0
777    4.0
778    4.0
779    4.0
780    4.0
781    4.0
782    4.0
783    4.0
784    4.0
785    4.0
786    4.0
787    4.0
788    4.0
789    4.0
790    4.0
791    4.0
792    4.0
793    4.0
Name: cyl, Length: 794, dtype: float64

In [6]:
df_08.cyl

0       (6 cyl)
1       (4 cyl)
2       (6 cyl)
3       (6 cyl)
4       (6 cyl)
5       (6 cyl)
6       (4 cyl)
7       (4 cyl)
8      (12 cyl)
9      (12 cyl)
10     (12 cyl)
11     (12 cyl)
12      (8 cyl)
13      (8 cyl)
14      (4 cyl)
15      (4 cyl)
16      (6 cyl)
17      (4 cyl)
18      (6 cyl)
19      (6 cyl)
20      (6 cyl)
21      (6 cyl)
22      (6 cyl)
23      (6 cyl)
24      (6 cyl)
25      (6 cyl)
26      (8 cyl)
27      (6 cyl)
28      (8 cyl)
29      (8 cyl)
         ...
956     (5 cyl)
957     (5 cyl)
958     (5 cyl)
959     (5 cyl)
960     (5 cyl)
961     (5 cyl)
962     (5 cyl)
963     (5 cyl)
964     (5 cyl)
965     (5 cyl)
966     (5 cyl)
967     (5 cyl)
968     (5 cyl)
969     (5 cyl)
970     (6 cyl)
971     (6 cyl)
972     (6 cyl)
973     (8 cyl)
974     (5 cyl)
975     (5 cyl)
976     (5 cyl)
977     (5 cyl)
978     (5 cyl)
979     (5 cyl)
980     (5 cyl)
981     (6 cyl)
982     (6 cyl)
983     (6 cyl)
984     (6 cyl)
985     (8 cyl)
Name: cyl, Length: 986, dtype: object

In [19]:
df_08.greenhouse_gas_score

0      4
1      5
2      5
3      6
4      6
5      6
6      6
7      7
8      0
9      1
10     0
11     1
12     3
13     3
14     7
15     7
16     6
17     7
18     5
19     6
20     6
21     5
22     6
23     6
24     6
25     6
26     5
27     6
28     5
29     5
      ..
956    6
957    7
958    7
959    7
960    6
961    6
962    6
963    7
964    6
965    6
966    6
967    6
968    6
969    6
970    5
971    5
972    5
973    5
974    7
975    7
976    7
977    6
978    6
979    6
980    7
981    5
982    4
983    4
984    4
985    3
Name: greenhouse_gas_score, Length: 986, dtype: object

In [13]:
df_08.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 986 entries, 0 to 985
Data columns (total 13 columns):
model                   986 non-null object
displ                   986 non-null float64
cyl                     986 non-null object
trans                   986 non-null object
drive                   986 non-null object
fuel                    986 non-null object
veh_class               986 non-null object
air_pollution_score     986 non-null object
city_mpg                986 non-null object
hwy_mpg                 986 non-null object
cmb_mpg                 986 non-null object
greenhouse_gas_score    986 non-null object
smartway                986 non-null object
dtypes: float64(1), object(12)
memory usage: 100.2+ KB

In [9]:
df_18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 794 entries, 0 to 793
Data columns (total 13 columns):
model                   794 non-null object
displ                   794 non-null float64
cyl                     794 non-null float64
trans                   794 non-null object
drive                   794 non-null object
fuel                    794 non-null object
veh_class               794 non-null object
air_pollution_score     794 non-null int64
city_mpg                794 non-null object
hwy_mpg                 794 non-null object
cmb_mpg                 794 non-null object
greenhouse_gas_score    794 non-null int64
smartway                794 non-null object
dtypes: float64(2), int64(2), object(9)
memory usage: 80.7+ KB

In [10]:
df_08.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 986 entries, 0 to 985
Data columns (total 13 columns):
model                   986 non-null object
displ                   986 non-null float64
cyl                     986 non-null object
trans                   986 non-null object
drive                   986 non-null object
fuel                    986 non-null object
veh_class               986 non-null object
air_pollution_score     986 non-null object
city_mpg                986 non-null object
hwy_mpg                 986 non-null object
cmb_mpg                 986 non-null object
greenhouse_gas_score    986 non-null object
smartway                986 non-null object
dtypes: float64(1), object(12)
memory usage: 100.2+ KB